@{
    ViewData["Title"] = "出生医学证明";
}

<div class="container">
      <h4 style="color:cornflowerblue">烟台市卫生和计划生育委员会_出生医学证明_数据服务查询小技巧</h4>
	<p>父亲姓名、母亲姓名、父亲身份证号码、母亲身份证号码、新生儿姓名不需要全部输入即可模糊匹配查询。</p>
	<div style="margin:20px 0;"></div>
	<table id="birthtable" class="easyui-datagrid" title="出生医学证明"style="width:1100px;height:500px"	 
			data-options="rownumbers:true,singleSelect:true,url:'',method:'get',toolbar:'#tb',footer:'#ft'">
		<thead>
			<tr>
				<th data-options="field:'bh',width:100">编号</th>
				<th data-options="field:'fqsfzhm',width:160">父亲身份证号码</th>
				<th data-options="field:'fqxm',width:100">父亲姓名</th>
				<th data-options="field:'mqsfzhm',width:160">母亲身份证号码</th>
				<th data-options="field:'mqxm',width:100">母亲姓名</th>
				<th data-options="field:'qfjgmc',width:200">签发机构名称</th>
                <th data-options="field:'xsecsrq',width:100">出生日期</th>
				<th data-options="field:'xsexm',width:100">新生儿姓名</th>
			</tr>
		</thead>
	</table>
    
	<div id="tb" style="padding:2px 5px;">
		<input class="easyui-text" style="width:110px" id="fqxm"  placeholder="父亲姓名">
        <input class="easyui-text" style="width:110px" id="mqxm"placeholder="母亲姓名">
        <input class="easyui-text" style="width:210px"id="fqsfzhm" placeholder="父亲身份证号码">
        <input class="easyui-text" style="width:210px"id="mqsfzhm" placeholder="母亲身份证号码">
        <input class="easyui-text" style="width:110px"id="xsexm" placeholder="新生儿姓名">
		<!-- To: <input class="easyui-datebox" style="width:110px">
		Language: 
		<select class="easyui-combobox" panelHeight="auto" style="width:100px">
			<option value="java">Java</option>
			<option value="c">C</option>
			<option value="basic">Basic</option>
			<option value="perl">Perl</option>
			<option value="python">Python</option>
		</select> -->
		<a href="#" class="easyui-linkbutton" iconCls="icon-search" id="birthsearch">搜索</a>
	</div>
	<div id="ft" style="padding:2px 5px;">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"></a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true"></a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true"></a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
	</div>
    <div class="row">&nbsp;</div>
    <div class="row">        
     
        <!-- <div class="col-6">
            <input type="text" id="fqxm"  placeholder="父亲姓名" />
            <br />
             <input type="text" id="mqxm"  placeholder="母亲姓名" />
            <br />
             <input type="text" id="fqsfzhm"  placeholder="父亲身份证号码" />
            <br />
             <input type="text" id="mqsfzhm"  placeholder="母亲身份证号码" />
            <br />
             <input type="text" id="xsexm"  placeholder="新生儿姓名" />
            <br />
            <input type="button" id="birthsearch" value="出生医学证明搜索" />
        </div> -->
         <div id="provincetip"></div>
    </div>
    <div class="row">
        <div class="col-12">
                <!-- <input type="button" id="clickme" value="click me" /> -->
            <hr />
        </div>
    </div>
    
</div>
<!-- <script src="/lib/signalr/dist/browser/signalr.js"></script>
<script src="/js/birth.js"></script> -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#birthsearch").click(function(){
           	if($(this).linkbutton('options').disabled==false){
				var fqxm = document.getElementById("fqxm").value;
				var mqxm = document.getElementById("mqxm").value;
				var fqsfzhm = document.getElementById("fqsfzhm").value;
				var mqsfzhm = document.getElementById("mqsfzhm").value;
				var xsexm = document.getElementById("xsexm").value;			
				connection.invoke("birthsearch",fqxm,mqxm,fqsfzhm,mqsfzhm, xsexm).catch(function (err) {
					return console.error(err.toString());
				});
				$('#birthsearch').linkbutton('disable');
				$("#provincetip").text("烟台市政务信息资源共享交换平台查询进行中，结果会自动返回，请稍等。。。")
			}
        });
    });
</script>